.discount {
  @include responsive(tabletL) {
    width: 97% !important;
    @include centerizeTag();
  }
  &__content {
    &-top {
      padding-left: 1.5rem !important;
    }
    &-header {
      &-item {
        @media only screen and (min-width: 25em) {
          font-size: $fs-sm !important;
        }
      }
    }
    &-main {
      @include responsive(tabletL) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        align-items: stretch;
      }
      &-left {
        background-color: $colorBg !important;
        @include responsive(tabletL) {
          height: 35rem !important;
          overflow: hidden;
        }

        &-img {
          width: 100%;
          position: relative;
          border-radius: 2rem;
          overflow: hidden;
          @include centerizeTag;
          position: relative !important;
          @include responsive(tabletL) {
            height: 35rem !important;
            padding: 0 !important;
            margin: 0 !important;
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 1rem solid $colorPrimary;
            border-radius: 2rem;
            pointer-events: none;
            z-index: 2;
            @include responsive(tabletL) {
              content: "";
              position: absolute;
              inset: 0;
              border: 1rem solid $colorPrimary;
              border-radius: 2rem;
              pointer-events: none;
              z-index: 2;
            }
          }
          &:hover {
            .discount__content-main-left-img-card {
              top: 0;
            }
            .discount__content-main-left-img-pic {
              transform: scale(1.2);
            }
          }
          &-pic {
            object-fit: cover;
            transition: all 0.6s ease-in;
            @include responsive(tabletL) {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              display: block;
              transition: all 0.6s ease-in;
              position: relative;
              z-index: 1;
              border-radius: 1.4rem;
            }
          }
          &-card {
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to right,
              $colorSecondry,
              $colorTertiary
            );
            @include centerizeTag();
            color: $colorWhite;
            letter-spacing: 2px;
            opacity: 0.6;
            position: absolute;
            top: 100%;
            right: 0;
            transition: all 0.6s ease-in;
            z-index: 3;
          }
        }
        &-lable {
          width: 30rem;
          height: 6rem;
          clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
          background-color: gold;
          position: absolute;
          top: 1.5rem;
          right: -8rem;
          transform: rotate(33deg);
          @include centerizeTag;
          font-weight: bold;
          z-index: 10;
        }
      }
      &-right {
        width: 28%;

        @include centerizeTag(space-between);
        flex-direction: column;
        @include responsive(tabletL) {
          height: 100% !important;
          margin: 0 !important;
          gap: 1.5rem;
          display: grid;
          grid-template-rows: 1fr 1fr;
          gap: 1.5rem;
          height: 35rem !important;
        }
        &-item {
          padding: 0 !important;
          position: relative;
          overflow: hidden;
          border-radius: 1.5rem;
          @include responsive(tabletL) {
            display: flex;
            flex: 1 1 0 !important;
            align-items: center;
            justify-content: center;
            height: 100%;
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 1rem solid $colorPrimary;
            border-radius: 1.5rem;
            pointer-events: none;
            z-index: 2;
          }
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
            transition: all 0.6s ease-in;
            position: relative;
            z-index: 1;
            border-radius: 4.5rem !important;
          }
        }
        &-icon {
          @include centerizePosition();
          color: $colorWhite;
          @include centerizeTag();
          position: absolute;
          z-index: 3;
          background-color: $colorSecondry;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          padding: 1rem;
          box-shadow: 0 0 1.5rem #4215a6;
          transition: all 0.3s ease-in;
          &:hover {
            background-color: $colorTertiary;
          }
        }
        &-text {
          color: $colorWhite;
          font-size: $fontSizeSm;
          font-weight: bold;
          position: absolute;
          top: 2rem;
          left: 3rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          position: absolute;
          z-index: 3;
        }
      }
    }
  }
}
