.header {
  &__content {
    &-hamburgermenu {
      @include responsive(tabletL) {
        display: none;
      }
      &-icon {
        @include responsive(tabletL) {
          display: none;
        }
      }
    }
    &-search {
      &-box {
        border: none;
        outline: none;
      }
      &-icon {
        width: 3.8rem;
        height: 3.8rem;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &-notifications {
      width: 4.5rem;
      height: 100%;
      transition: all 0.3 ease-in;
      &:hover {
        transform: scale(1.1);
      }
      & > span {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: -0.5rem;
        right: 0.1rem;
      }
    }
    &-profile {
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      &:hover {
        transform: scale(1.1);
      }
      &-pic {
        padding-inline: 1px;
        @media only screen and (min-width: 26em) {
          width: 15%;
        }
        & > img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}
