.popular {
  &__content {
    @include responsive(tabletL) {
    }
    &-title {
      @include responsive(tabletL) {
        padding-left: 1.5rem !important;
      }
    }
    &-swiper {
      @include responsive(tabletL) {
        display: none !important;
      }
    }
    &-items {
      display: none !important;
      @include responsive(tabletL) {
        display: flex !important;
      }
    }
    &-item {
      width: 32%;
      background-color: $colorBg;
      @include responsive(tabletL) {
        height: 50rem;
      }

      &-pic {
        @include centerizeTag;

        cursor: pointer;

        border-radius: 1.5rem;
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border: 1rem solid $colorPrimary;
          border-radius: 2rem;
          pointer-events: none;
          z-index: 2;
          @include responsive(tabletL) {
            content: "";
            position: absolute;
            inset: 0;
            border: 1rem solid $colorPrimary;
            border-radius: 2rem;
            pointer-events: none;
            z-index: 2;
          }
        }
        transition: all 0.3s ease-in;
        position: relative;
        @include responsive(tabletL) {
          height: 20rem !important;
        }
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border: 1rem solid $colorPrimary;
          border-radius: 2rem;
          pointer-events: none;
          z-index: 2;
          @include responsive(tabletL) {
            content: "";
            position: absolute;
            inset: 0;
            border: 1rem solid $colorPrimary;
            border-radius: 2rem;
            pointer-events: none;
            z-index: 2;
          }
        }

        & > img {
          object-fit: cover;
          border-radius: 1.5rem;
          width: 100% !important;
          height: 100% !important;
          @include responsive(tabletL) {
            height: 100% !important;
          }
        }
        &--active {
          @include centerizeTag;

          cursor: pointer;

          border-radius: 1.5rem;
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 1rem solid $colorSecondry;
            border-radius: 2rem;
            pointer-events: none;
            z-index: 2;
            @include responsive(tabletL) {
              content: "";
              position: absolute;
              inset: 0;
              border: 1rem solid $colorSecondry;
              border-radius: 2rem;
              pointer-events: none;
              z-index: 2;
            }
          }
          transition: all 0.3s ease-in;
          position: relative;
          @include responsive(tabletL) {
            height: 20rem !important;
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 1rem solid $colorSecondry;
            border-radius: 2rem;
            pointer-events: none;
            z-index: 2;
            @include responsive(tabletL) {
              content: "";
              position: absolute;
              inset: 0;
              border: 1rem solid $colorSecondry;
              border-radius: 2rem;
              pointer-events: none;
              z-index: 2;
            }
          }

          & > img {
            object-fit: cover;
            border-radius: 1.5rem;
            width: 100% !important;
            height: 100% !important;
            @include responsive(tabletL) {
              height: 100% !important;
            }
          }
        }
        &-shape {
          width: 16rem;
          height: 100%;
          position: absolute;
          clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
          transition: all 0.4s ease-out;
        }
        &--1 {
          background-color: $colorSecondry;
          right: 0;
          top: 0;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $colorWhite;
          border-radius: 0 1.5rem 1.5rem 0;
          font-size: $fontSizeTitle;
          text-transform: uppercase;
        }
        &--2 {
          width: 16.8rem;
          right: 0;

          top: 0;
          background-color: $colorSecondryLight;
          border-radius: 0 1.5rem 1.5rem 0;
        }
        &:hover {
          transform: translateY(-0.6rem);
        }
        &:hover {
          &:hover .popular__content-item-pic-shape {
            width: 100%;
            opacity: 0.4;
          }
        }
      }
      &-text {
        @include centerizeTag(space-between);
        font-size: 1.4rem;
        color: $colorWhite;
        margin: 2rem 0;
        line-height: 22px;
        cursor: default;
        @include responsive(mobile) {
          font-size: $fs-xlg !important;
        }
      }
      &-left {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-heading {
          font-size: $fontSizeDefault;
          font-weight: bold;
          @include responsive(mobile) {
            font-size: $fs-xlg !important;
          }
          &-p {
            @include responsive(mobile) {
              font-size: $fs-xlg !important;
            }
          }
        }
        &-circle {
          width: 14px;
          height: 14px;
          border-radius: 100%;
          background-color: $colorBg;
          @include centerizeTag();
          box-shadow: 0 0 4px 2px $colorGreen;
          & > span {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: $colorGreen;
          }
        }
      }
      &-right {
        @include centerizeTag();
        flex-direction: column;
        row-gap: 28px;
        &-teamname {
          @include responsive(mobile) {
            font-size: $fs-xlg !important;
          }
        }

        &-team {
          font-size: $fontSizeSm;
          @include centerizeTag();
          gap: 10px;
        }
        &-icon {
          width: 25px;
          height: 25px;
          background: url(../../public/images/teamlogos.webp);
          &.teamlogo1 {
            background-position: -6px -6px;
          }
          &.teamlogo2 {
            background-position: -35px -6px;
          }
          &.teamlogo3 {
            background-position: -68px -6px;
          }
          &.teamlogo4 {
            background-position: -5px -57px;
          }
          &.teamlogo5 {
            background-position: -39px -58px;
          }
          &.teamlogo6 {
            background-position: -68px -58px;
          }
        }
        &-score {
          color: orange;
        }
      }
      &-online {
        @include centerizeTag(flex-start);
        gap: 10px;
        font-size: $fontSizeSm;
        &-txt {
          transition: all 0.3s ease-in;
          cursor: pointer;
          &:hover {
            text-shadow: 2px 4px 3px $colorGreen;
          }
        }
      }
    }
    &-nav {
      top: 15rem;
      @include responsive(mobile) {
        top: 30rem;
      }
    }
  }
}
