.progressbar {
  display: flex;
  width: 100%;
  height: 15px;
  background-color: $colorBg;
  border-radius: 15px;
  &__percent {
    width: 70%;
    background: linear-gradient(
      to right,
      rgb(158, 137, 20),
      gold 50%,
      rgb(202, 194, 147) 70%
    );
    border-radius: 15px;
    height: 100%;
    color: black;
    @include centerizeTag();
    font-size: $fontSizeSm;
  }
}
