.title__white {
  color: $colorWhite;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $fontSizeTitle;
}
.title__pink {
  color: $colorTertiary;
  font-weight: bold;
  text-transform: uppercase;
  font-size: $fontSizeTitle;
}
